.wrapper-content {
  width: 33rem;
}

h3 {
  color: white;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.video-js .vjs-big-play-button {
  display: none;
}